<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kliaou">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.KLiaoU"
        android:name=".MainApplication">
        <activity
            android:name=".ui.BleHomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.BleHomeSettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.BleResultDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.BleConnectDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.BleChatActivity"
            android:screenOrientation="portrait"></activity>
        <service
            android:name=".service.BleAdvertiserService"
            android:enabled="true"
            android:exported="false"></service>
        <service
            android:name=".service.BleGattClientService"
            android:enabled="true"
            android:exported="false"></service>
    </application>

</manifest>